<a href="https://colab.research.google.com/github/jo-soobin/numpy-pandas/blob/master/day14_03_Filtering_%26_Sorting_Chipotle_Exercises_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

Check out [Chipotle Exercises Video Tutorial](https://youtu.be/ZZPiWZpdekA) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo  = pd.read_csv(url , sep = "\t")

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. $10.00 이상인 제품이 몇 개 있습니까?

In [ ]:
def sp_d(x):
  x_list = x.split("$")
  return float(x_list[1])

chipo["item_price"] = chipo.item_price.apply(sp_d)

In [ ]:
# 10 달러 이상인 주문
chipo[chipo["item_price"]>10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [ ]:
chipo[["item_name", "item_price"]].groupby(by="item_name").agg(["min","max"])

                                      item_price
                                             min    max
item_name
6 Pack Soft Drink                           6.49  12.98
Barbacoa Bowl                               8.69  11.75
Barbacoa Burrito                            8.69  11.75
Barbacoa Crispy Tacos                       8.99  18.50
Barbacoa Salad Bowl                         9.39  11.89
Barbacoa Soft Tacos                         8.99  11.75
Bottled Water                               1.09  15.00
Bowl                                        7.40  22.20
Burrito                                     7.40   7.40
Canned Soda                                 1.09   4.36
Canned Soft Drink                           1.25   5.00
Carnitas Bowl                               8.99  35.25
Carnitas Burrito                            8.69  18.50
Carnitas Crispy Tacos                       8.99  17.98
Carnitas Salad                              8.99   8.99
Carnitas Salad Bowl                         9.39  11.89
Carnitas Soft Tacos                         8.99  11.75
Chicken Bowl                                8.19  32.94
Chicken Burrito                             8.19  35.00
Chicken Crispy Tacos                        8.49  17.50
Chicken Salad                               8.19  10.98
Chicken Salad Bowl                          8.75  22.50
Chicken Soft Tacos                          8.49  21.96
Chips                                       1.99   6.45
Chips and Fresh Tomato Salsa                2.29  44.25
Chips and Guacamole                         3.89  17.80
Chips and Mild Fresh Tomato Salsa           3.00   3.00
Chips and Roasted Chili Corn Salsa          2.95   5.90
Chips and Roasted Chili-Corn Salsa          2.39   2.39
Chips and Tomatillo Green Chili Salsa       2.95   5.90
Chips and Tomatillo Red Chili Salsa         2.95   5.90
Chips and Tomatillo-Green Chili Salsa       2.39   4.78
Chips and Tomatillo-Red Chili Salsa         2.39   7.17
Crispy Tacos                                7.40   7.40
Izze                                        3.39   3.39
Nantucket Nectar                            3.39   6.78
Salad                                       7.40   7.40
Side of Chips                               1.69  13.52
Steak Bowl                                  8.69  26.07
Steak Burrito                               8.69  27.75
Steak Crispy Tacos                          8.69  17.98
Steak Salad                                 8.69   8.99
Steak Salad Bowl                            9.39  23.78
Steak Soft Tacos                            8.99  18.50
Veggie Bowl                                 8.49  16.98
Veggie Burrito                              8.49  33.75
Veggie Crispy Tacos                         8.49   8.49
Veggie Salad                                8.49   8.49
Veggie Salad Bowl                           8.75  11.25
Veggie Soft Tacos                           8.49  16.98

In [ ]:
# chipo[["item_name", "item_price"]].groupby(by="item_name").agg(["min","max"]).columns
bool_price = chipo[["item_name", "item_price"]].groupby(by="item_name").agg(["min","max"])[('item_price', 'max')]>10
chipo[["item_name", "item_price"]].groupby(by="item_name").agg(["min","max"])[bool_price].count()

item_price  min    31
            max    31
dtype: int64

### Step 5. 각 품목의 가격은 얼마입니까?
###### item_name 과 item_price 만 출력하시오

In [ ]:
chipo[["item_name", "item_price"]].groupby(by="item_name").agg(["min","max"])[("item_price", "min")]

### Step 6. item_name으로 정렬하세요

In [ ]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. 가장 비싼 품목의 주문 수량은 몇개입니까?

In [ ]:
chipo.sort_values(by="item_price").tail(1)["quantity"]
# 정답 잘못됨
# 3598	1443	15	Chips and Fresh Tomato Salsa	NaN	44.25

3598    15
Name: quantity, dtype: int64

### Step 8. Veggie Salad Bowl은 몇번 주문 되었습니까?

In [ ]:
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

### Step 9. Canned Soda를 두 개 이상 주문한 횟수는 몇번입니까?

In [ ]:
bool_soda = (chipo.item_name == "Canned Soda") & (chipo.quantity > 1)

In [ ]:
chipo[bool_soda].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64