<a href="https://colab.research.google.com/github/jo-soobin/numpy-pandas/blob/master/day14_02_Deleting_Wine_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소의 파일을 import 하세요 [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. wine 라는 변수에 DataFrame 을 할당하세요

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
wine = pd.read_csv(url)

### Step 4. 첫번째, 네번째, 여섯번째, 아홉번째, 열한번째, 열세번째, 열네번째 column 을 삭제하세요

In [ ]:
wine.drop(wine.columns[[0, 3, 5, 8, 10, 12,13]], axis=1, inplace=True)

### Step 5.다음과 같은 순서로 columns을 만드세요

1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = ["alcohol", "malic_acid", "alcalinity_of_ash", "magnesium", "flavanoids", "proanthocyanins", "hue"]

In [ ]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,2.65,2.76,1.28,1.05
1,13.16,2.36,18.6,2.80,3.24,2.81,1.03
2,14.37,1.95,16.8,3.85,3.49,2.18,0.86
3,13.24,2.59,21.0,2.80,2.69,1.82,1.04
4,14.20,1.76,15.2,3.27,3.39,1.97,1.05

### Step 6. alcohol의 처음 3개 행의 값을 NaN으로 설정하세요

In [ ]:
wine.iloc[0:3, 0] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,2.65,2.76,1.28,1.05
1,NaN,2.36,18.6,2.80,3.24,2.81,1.03
2,NaN,1.95,16.8,3.85,3.49,2.18,0.86
3,13.24,2.59,21.0,2.80,2.69,1.82,1.04
4,14.20,1.76,15.2,3.27,3.39,1.97,1.05

### Step 7. magnesium 의 3행과 4행의 값을 NaN으로 설정하세요

In [ ]:
wine.magnesium.isna()

0      False
1      False
2      False
3       True
4       True
       ...
166    False
167    False
168    False
169    False
170    False
Name: magnesium, Length: 171, dtype: bool

In [ ]:
wine.iloc[3:5, 3] = np.nan
wine.iloc[123:125, 3] = np.nan

In [ ]:
wine.magnesium.isna().sum()

4

In [ ]:
wine[wine.magnesium.isna()]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
3,14.83,1.64,14.0,NaN,2.98,1.98,1.08
4,14.12,1.48,16.8,NaN,2.43,1.57,1.17
123,12.86,1.35,18.0,NaN,1.25,0.94,0.76
124,12.88,2.99,20.0,NaN,1.22,0.83,0.74

### Step 8. NaN 값을 알코올의 경우 10, 마그네슘의 경우 100으로 채우세요

In [ ]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,2.65,2.76,1.28,1.05
1,10.00,2.36,18.6,2.80,3.24,2.81,1.03
2,10.00,1.95,16.8,3.85,3.49,2.18,0.86
3,13.24,2.59,21.0,100.00,2.69,1.82,1.04
4,14.20,1.76,15.2,100.00,3.39,1.97,1.05

### Step 9. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [ ]:
wine.isnull().sum()
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            177 non-null    float64
 1   malic_acid         177 non-null    float64
 2   alcalinity_of_ash  177 non-null    float64
 3   magnesium          177 non-null    float64
 4   flavanoids         177 non-null    float64
 5   proanthocyanins    177 non-null    float64
 6   hue                177 non-null    float64
dtypes: float64(7)
memory usage: 9.8 KB

### Step 10. 0부터 9까지 10개의 난수로 구성된 np.array를 만드세요

In [ ]:
rand = np.random.randint(10, size=10)

### Step 11. alcohol column에 생성한 난수를 인덱스로 사용하여 각 셀에 NaN 값을 할당하세요

In [ ]:
wine.alcohol[rand] = np.nan

### Step 12. DataFrame에 누락된 값이 몇 개입니까?

In [ ]:
wine.isnull().sum()

alcohol              6
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. NaN값이 있는 행을 삭제 하세요

In [ ]:
wine.dropna(axis=0)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,2.65,2.76,1.28,1.05
1,10.00,2.36,18.6,2.80,3.24,2.81,1.03
2,10.00,1.95,16.8,3.85,3.49,2.18,0.86
7,14.83,1.64,14.0,2.80,2.98,1.98,1.08
10,14.12,1.48,16.8,2.20,2.43,1.57,1.17
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,1.68,0.61,1.06,0.64
173,13.40,3.91,23.0,1.80,0.75,1.41,0.70
174,13.27,4.28,20.0,1.59,0.69,1.35,0.59
175,13.17,2.59,20.0,1.65,0.68,1.46,0.60
176,14.13,4.10,24.5,2.05,0.76,1.35,0.61

In [ ]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,2.65,2.76,1.28,1.05
1,10.00,2.36,18.6,2.80,3.24,2.81,1.03
2,10.00,1.95,16.8,3.85,3.49,2.18,0.86
7,14.83,1.64,14.0,2.80,2.98,1.98,1.08
10,14.12,1.48,16.8,2.20,2.43,1.57,1.17

### Step 14. alcohol column에서 non-null 인 값만 출력하세요

In [ ]:
mask = wine.alcohol.notnull()
wine.alcohol[mask]

0      10.00
1      10.00
2      10.00
7      14.83
10     14.12
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 171, dtype: float64

### Step 15. index 를 0 부터 시작하도록 reset하세요

In [ ]:
wine.reset_index(drop=True, inplace=True)