<a href="https://colab.research.google.com/github/jo-soobin/numpy-pandas/blob/master/day14_01_Creating_Series_and_DataFrames_pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd

### Step 2. 다음과 같은 dictionary를 생성하세요

In [ ]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. pokemon이라는 변수에 DataFrame 을 할당하세요

In [ ]:
pokemon = pd.DataFrame(raw_data)

In [ ]:
pokemon.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. DataFrame 열이 알파벳 순서로 되어있습니다. name, type, hp, evolution, pokedex 의 순서로 column을 배치하세요

In [ ]:
pokemon[["name", "type", "hp", "evolution", "pokedex"]]

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. "place" column을 만들고 ['park','street','lake','forest'] 순서로 할당하세요

In [ ]:
pokemon["place"] =  ['park','street','lake','forest']

In [ ]:
pokemon

         name   evolution   type  hp pokedex   place
0   Bulbasaur     Ivysaur  grass  45     yes    park
1  Charmander  Charmeleon   fire  39      no  street
2    Squirtle   Wartortle  water  44     yes    lake
3    Caterpie     Metapod    bug  45      no  forest

### Step 6. 각 column의 datatype을 할당하세요

In [ ]:
pokemon.dtypes

name         object
evolution    object
type         object
hp            int64
pokedex      object
place        object
dtype: object