<a href="https://colab.research.google.com/github/jo-soobin/numpy-pandas/blob/master/day13_%EC%98%88%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [ ]:
import pandas as pd

### Step 2. 다음 주소의 파일을 import 하세요 [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. users라는 변수에 DataFrame을 할당 하세요. 그리고 'user_id'를  index로 지정하세요

In [ ]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### Step 4.  첫 25개의 row를 출력하세요

In [ ]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. 마지막 10개의 row를 출력하세요

In [ ]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. Dataset 은 총 몇개 인가요?

In [ ]:
users.shape[0]
#943

943

### Step 7. DataSet의 컬럼은 몇개 인가요?

In [ ]:
users.shape[1]
#4

4

### Step 8. 모든 컬럼의 이름을 출력하세요

In [ ]:
users.columns
# Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9.  data set의 index 를 확인하세요

In [ ]:
users.index
#Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10, ..., 934, 935, 936, 937, 938, 939, 940, 941, 942, 943], dtype='int64', name='user_id', length=943)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. 각 column의 datatype은 무엇인가요?

In [ ]:
users.dtypes
# age            int64
# gender        object
# occupation    object
# zip_code      object
# dtype: object

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. "occupation" column만을 출력하세요

In [ ]:
users.occupation
#1         technician
#2              other
#3             writer
#4         technician
#5              other
#           ...      
#939          student
#940    administrator
#941          student
#942        librarian
#943          student

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. dataset에는 몇개의 occupation이 존재합니까?

In [ ]:
len(set(users.occupation))
users.occupation.unique() # unique 한 list
users.occupation.nunique() # unique 한 갯수
users.occupation.value_counts().count() #value_counts를 이용해 occupation 의 갯수를 확인할수 있다. 
#21

21

### Step 13. 가장 많은 occupation을 상위 5개 출력하세요

In [ ]:
users.occupation.value_counts().head()
#student          196
#other            105
#educator          95
#administrator     79
#engineer          67

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

### Step 14. describe() 를 이용해 dataset을 요약해 보세요

In [ ]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. 모든 columns을 describe를 통해 요약해 보세요
```
describe(include="all")
```

In [ ]:
users.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16.  occupation column만 describe를 이용해 요약해 보세요

In [ ]:
users.occupation.describe()
#count         943
#unique         21
#top       student
#freq          196
#Name: occupation, dtype: object

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. users의 평균 age는 얼마 입니까?(정수로 출력하세요)

In [ ]:
int(users.age.mean())
round(users.age.mean())
#34

34

### Step 18. 1번만 조사된 연령은 몇살 입니까?

In [ ]:
se_1 = users.age.value_counts()
se_1[se_1 == 1]
se_1[se_1 == 1].index
#7, 66, 11, 10, 73

Int64Index([7, 66, 11, 10, 73], dtype='int64')